@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

&::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #94A3B8;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b7685;
}

.background {
  height: 3000px;
  width: 100%;
  background: linear-gradient(210deg , #93BAE8 , #EDADC9 , #B8B5DB );
  position: absolute;
  overflow: hidden;
}

.scrollContainer {
  position: relative;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  height: 100vh;
  width: 100%;
  -ms-text-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.full-screen-section {
  height: 100vh;
  width: 100%;
  overflow: hidden; 
  scroll-snap-type: y mandatory; 
  scroll-behavior: smooth; 
  scroll-snap-align: center;
}

.full-screen-section2 {
  width: 100%;
  overflow: hidden; 
  scroll-snap-type: y mandatory; 
  scroll-behavior: smooth; 
  scroll-snap-align: center;
}

#mainLogoSVG {
  height: 75%;
  width: 75%;
  animation: fadeOutLogo 4s ease-in-out;
  animation-fill-mode: forwards;
}

#menuLogo {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: mainLogoSVG2;
}

#pageElements {
  animation: fadeIn 1.5s ease-in-out;
}

#menuLogo {
  cursor: pointer;
}

.cls-1 {
  fill: #fff;
  fill-opacity: 0;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-dashoffset: 0;
  stroke-dasharray: 1000;
  animation: mainLogoSVG  5s ease-in-out , colorSVg 3s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes mainLogoSVG {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes mainLogoSVG2 {
  0% {
    stroke-dashoffset: 500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes colorSVg {
  0% {
    fill-opacity: 0;
  }
  90% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
  }
}

@keyframes fadeOutLogo {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  } 
  100% {
    opacity: 1;
  }
}

@keyframes colorChangeToPortfolio {
  0% {
    background: linear-gradient(210deg , #B8B5DB, #EDADC9 , #93BAE8 );
  }
  100% {
    background: linear-gradient(210deg , #4C4177, #2A5470 , #4C4177 );
  }
}
