.iconSize {
   height: 40%;
   width: 40%;
}

.cls-10, .cls-20, .cls-30 {
   fill: #fff;
 }

 .cls-20 {
   opacity: .18;
 }

 .cls-20, .cls-30 {
   stroke: #fff;
   stroke-miterlimit: 10;
 }


 .cls-11, .cls-21, .cls-31 {
  fill: #fff;
}

.cls-41 {
  fill: none;
}

.cls-41, .cls-21, .cls-31 {
  stroke: #fff;
  stroke-miterlimit: 10;
}

.cls-21 {
  opacity: .18;
}


.cls-111, .cls-222 {
  fill: #fff;
}

.cls-222 {
  opacity: .18;
  stroke: #fff;
  stroke-miterlimit: 10;
}

.cls-333 {
  fill: none;
}